/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $element-color;
    border: none;
    padding: $size-1 0;
    text-transform: uppercase;
    border-radius: $radius;
    &:hover {
        background-color: lighten(15%);
        transition: all 1s ease-out;
        transition-property: transform, background-color;
        transform: scale(1.3);
        cursor: pointer;
    }
}

.default {
    background-color: $bg-color;
}

.error {
    background-color: #e4757a;
}

.info {
    background-color: #927bc1;
}

.success {
    background-color: #63cc82;
}

.warning {
    background-color: #fd7856;
}