/* ============================================= */
/*              Forms                            */
/* ============================================= */


.form {
    flex-basis: 100%;
  }
  
  .input{
    display: block;
    width: 94%;
    margin: $size-1 $size-3 0;
    border: none;
    padding: $size-1;
    border-bottom: $radius solid $border-color;
  }
  
  .hidden {
    position:absolute;
    left:-10000px;
    top:$size-3;
    width:1px;
    height:1px;
    overflow:hidden;
  }